<ion-header>
  <ion-navbar>
    <ion-title text-center>
       mapsExampleOne
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>

      <ion-toolbar color="primary">
        <!-- Campo de pesquisa de origem  -->
        <ion-searchbar 
            #searchbar
            [(ngModel)]="autocomplete.query"
            [showCancelButton]="true"
            (ionInput)="updateSearch()"
            placeholder="Informe a origem">

        </ion-searchbar>
      
      </ion-toolbar>

    <!-- Lista dos locais de origem -->
    <ion-list>

        <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">

            {{ item.description }}

        </ion-item>

    </ion-list><br/>
        <!-- Botão que seleciona o local desejado -->
        <button ion-item (click)="mudarStatus()" class="child">

             <ion-icon item-right name="add" *ngIf="!statusLocal"></ion-icon>
             <ion-icon item-right name="close" *ngIf="statusLocal"></ion-icon>

             {{ nameLocal }}

        </button>

        <!-- Lista de locais de destino -->
        <ion-list *ngIf="statusLocal" >

            <ion-item *ngFor="let item of locaisUniversidades" (click)="selecionarLocal(item)">

                  {{ item.name }}

            </ion-item>

        </ion-list><br/>
    <!-- Botão que calcula a rota -->
    <button color="primary" ion-button full (click)="calculateAndDisplayRoute()">Obter rota</button><br/><br/>
    
    <!-- Mapa -->
    <ion-card-content [hidden]="status" #map id="map"></ion-card-content>

  </ion-card>

</ion-content>
